.App{
    font-family: "Times New Roman";
    color: black;
}

.App{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
    "h h "
    "s b "
    "f f ";
}

